@model RoommatesExpensesManager.Models.Category
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    ViewBag.Title = "הוספת קטגוריה חדשה";
}

<h2>הוספת קטגוריה חדשה</h2>

<form id="addCategoriesForm" class="form-group">
@*@using (Html.BeginForm("addGroupSubmit", "Manager", FormMethod.Post, new { Class = "form-group", id = "addCategoriesForm" }))
{*@
    <div>
        <label>קטגוריה (כגון מוצרי מזון, חשבון חשמל וכדו')</label>
        @Html.TextBoxFor(m => m.Type, new { Class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.Type)</div>
    </div>
    <br />
    <input class="btn btn-primary" id="addCategory" type="button" onclick="SendNewCategory()" value="הוספה" />
    <input class="btn btn-primary" id="addCategory" type="button" onclick="location.href='@Url.Action("ShowManagerPage", "Manager")'" value="סיום" />
@*}*@
</form>

<div style="color:red" id="loadStatus"></div>

<table id="showCategoriesTbl">
    <tr>
        <td><u><b>קטגוריות</b></u></td>
    </tr>
</table>

<div style="color:red"> @TempData["addNewCategoryError"] </div>

<script>
    $("#loadStatus").text("טוען קטגוריות... אנא המתן");
    $.get("GetCategoriesByJson", null, BindDataToTable);

    function BindDataToTable(categories) {
        $("#showCategoriesTbl").find("tr:gt(0)").remove();
        var categoriesTable = $("#showCategoriesTbl");
        for (i = 0; i < categories.length; i++) {
            var newRow = "<tr>" +
                "<td>" + categories[i].Type + "</td>" +
                "</tr>";
            categoriesTable.append(newRow);
        }
        $("#loadStatus").text("");
    }

    function SendNewCategory() {
        var categoryFormData = $("#addCategoriesForm").serialize();
        $("#loadStatus").text("שומר קטגוריה... אנא המתן");
        $.post("SaveNewCategory", categoryFormData, BindDataToTable);
        $("#Type").val("");
    }
</script>