
@{
    ViewBag.Title = "צור קשר";
}

<h2>צור קשר</h2>

<p>
    אנו מקווים שאתם מפיקים את המקסימום מהאתר שלנו, אך עדיין יש מקום לשיפור.
    <br />
    כל הערה, הארה, תלונות, בעיות ובכלל...
    <br />
    נשמח אם תיצרו איתנו קשר!
    <br />
    <br />
    יוני כהן
    <a href="mailto:jonbir3@gmail.com">jonbir3@gmail.com</a>
    <br />
    אורון טרבלסי
    <a href="mailto:orontr@ac.sce.ac.il">orontr@ac.sce.ac.il</a>
    <br />
    <br />
    <b>תודה רבה ושתהיה לכם שותפות פורה ונעימה!</b>
</p>