@model RoommatesExpensesManager.ViewModel.VMGroups
@using RoommatesExpensesManager.Models

@{
    ViewBag.Title = "ההוצאות שלי";
}

<h4 style="font-size:xx-large">שלום @(((User)(Session["CurrentUser"])).FirstName)</h4>

@Html.Partial("ShowGroups", Model)